[package]
name = "space"
version = "0.1.0"
authors = ["Nikita <nikitaab98@gmail.com>"]
description="A high performance multi-threaded ECS game server , written in Rust."
homepage="https://maniastudios.com/"
license-file="LICENSE"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

bevy = {version= "0.5"}
bevy_rapier3d = {version= "0.9" ,default-features = false, features = [ "dim3","simd-stable", "parallel" ]}

serde = {version= "1.0"}
serde_json = {version= "1.0"}

bevy_networking_turbulence = {git = "https://github.com/nikitavondel/bevy_networking_turbulence", branch="dev"}

rand = "0.8.3"
